@import "syntax";

$github: #333333;
$twitter: #1da1f2;
$facebook: #3b5998;
$google: #dd4b39;
$pinterest: #bd081c;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#app {
  flex: 1 0 auto;
}

.media-content {
  overflow: hidden;
}

.text-github, a.navbar-item.text-github:hover {
  color: $github;
}

.text-twitter, a.navbar-item.text-twitter:hover {
  color: $twitter;
}

.text-facebook, a.navbar-item.text-facebook:hover {
  color: $facebook;
}

.is-github {
  background-color: $github;
}

.is-twitter {
  background-color: $twitter;
}

.is-facebook {
  background-color: $facebook;
}

.is-google {
  background-color: $google;
}

.is-pinterest {
  background-color: $pinterest;
}

.button {
  &.is-github,
  &.is-twitter,
  &.is-facebook,
  &.is-google,
  &.is-pinterest {
    border-color: transparent;
    color: white;
  }
}

.task-list-item-checkbox {
  margin-right: 5px;
}

.task-list-item {
  list-style: none;
}

%header-hashtag {
  color: #3273dc;
  margin-right: 10px;
}

.content {
  h1::before {
    content: "#";
    @extend %header-hashtag;
  }
  h2::before {
    content: "##";
    @extend %header-hashtag;
  }
  h3::before {
    content: "###";
    @extend %header-hashtag;
  }
  h4::before {
    content: "####";
    @extend %header-hashtag;
  }
  h5::before {
    content: "#####";
    @extend %header-hashtag;
  }
  h6::before {
    content: "######";
    @extend %header-hashtag;
  }
}
