---
layout: default
---

<section class="section">
  <div class="container">
    <div class="field">
      <div class="content">
        {{ content }}
      </div>
    </div>
    <div class="field">
      <div class="level">
        <div class="level-left"></div>
        <div class="level-right">
          {% include share-button.html %}
        </div>
      </div>
    </div>
    {% if page.author %}
      <div class="field">
        <article class="message is-info">
          <div class="message-header">
            About author
          </div>
          <div class="message-body">
            <div class="media">
              <figure class="media-left">
                <img class="image avatar" src="{{ page.author.image }}" alt="">
              </figure>
              <div class="media-content">
                <div class="content">
                  <h1>
                    {{ page.author.realname }}
                    <span class="is-pulled-right">
                      {% if page.author.github %}
                        <a target="_blank" href="https://github.com/{{ page.author.github }}">
                          <span class="icon"><i class="fab fa-xs fa-github text-github"></i></span>
                        </a>
                      {% endif %}
                      {% if page.author.twitter %}
                        <a target="_blank" href="https://twitter.com/{{ page.author.twitter }}">
                          <span class="icon"><i class="fab fa-xs fa-twitter text-twitter"></i></span>
                        </a>
                      {% endif %}
                      {% if page.author.facebook %}
                        <a target="_blank" href="https://www.facebook.com/{{ page.author.facebook }}">
                          <span class="icon"><i class="fab fa-xs fa-facebook text-facebook"></i></span>
                        </a>
                      {% endif %}
                    </span>
                  </h1>
                  <blockquote>
                    {{ page.author.quote }}
                  </blockquote>
                  {{ page.author.extra-quote }}
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    {% endif %}
  </div>
</section>
